body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  margin-top: 0;
}
* {
  height: auto;
  text-align: center;
  margin: auto;
  max-width: 600px;
  background-color: lightseagreen;
}
nav {
  padding: 16px;
}
nav a {
  margin-left: 10px;
}
